<!--SVG 图标已经在 extend_head.html 中通过 svg-icons.html 引入-->
<style>
    i[id*="post_meta_style"] {
        display: flex;
        align-items: center;
        margin: 0 0 10px 0;
    }

    .parent-post-meta {
        display: flex;
        flex-wrap: wrap;
        opacity: 0.8;
    }

    /* 确保 SVG 图标正确显示 */
    .parent-post-meta .icon {
        font-size: 14px;
        margin-right: 4px;
    }
</style>

<div class="parent-post-meta">
    <span id="post_meta_style_1">
        <svg class="icon"><use href="#icon-calendar-check"></use></svg>
        <span>
            &nbsp;创建:&nbsp;{{- (.Date.Format (default "January 2, 2006" .Site.Params.DateFormat)) }}
            &nbsp;&nbsp;
        </span>
    </span>
    <span id="post_meta_style_2">
        <svg class="icon"><use href="#icon-calendar-plus"></use></svg>
        <span>
            &nbsp;更新:&nbsp;{{- (.Lastmod.Format (.Site.Params.dateFormat | default "2006-01-02")) }}
            &nbsp;&nbsp;
        </span>
    </span>
    <span id="post_meta_style_3">
        <svg class="icon"><use href="#icon-file"></use></svg>
        <span>
            {{- .WordCount }}字
            &nbsp;&nbsp;
        </span>
    </span>
    <span id="post_meta_style_4">
        <svg class="icon"><use href="#icon-clock"></use></svg>
        <span>
            {{- .ReadingTime }}分钟
            &nbsp;&nbsp;
        </span>
    </span>
    <span id="post_meta_style_5">
        <svg class="icon"><use href="#icon-user-o"></use></svg>
        <span>
            {{- with (partial "author.html" .) }}
            {{- . }}
            {{- end }}
            &nbsp;&nbsp;
        </span>
    </span>
    <span id="post_meta_style_6">
        <svg class="icon"><use href="#icon-tags"></use></svg>
        <span>
            {{- if .Params.tags }}
            <span class="post-tags-meta">
                {{- range $index, $value := ($.GetTerms "tags") }}
                {{- if eq $index 0}}
                <a href="{{ .Permalink }}" style="color: var(--secondary)!important;">{{ .LinkTitle }}</a>
                {{- else }}
                &nbsp;<a href="{{ .Permalink }}" style="color: var(--secondary)!important;">{{ .LinkTitle }}</a>
                {{- end }}
                {{- end }}
            </span>
            {{- end }}
            &nbsp;&nbsp;
        </span>
    </span>
    {{ if eq .Kind "page" }}
    <!-- 只在文章详情页显示浏览量 -->
    <span class="post-views" data-is-single="true">
        <svg class="icon"><use href="#icon-eye"></use></svg>
        <span id="busuanzi_container_page_pv">
            <span id="busuanzi_value_page_pv">0</span>
        </span>
    </span>
    {{ end }}
</div>